body {background: #171717; font-size: 20px; font-weight: bold; font-family: 'Handlee', cursive;}
.postcard {background: white; width: 500px; height: 350px; margin: auto; 
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    padding: 15px;}
.card-header {overflow: hidden;}
.card-header img{max-width: 70px; float: right;}
.card-body {overflow: hidden;}
input {font-size: 18px; font-family: 'Handlee', cursive; font-weight: bold}
.postcard h1 {margin: 0;}
.left{float: left; width: 50%; }
.right{float: right; width: 50%;}
.right input{display:block;}
h1{font-size: 35px}
.card-footer{padding: 10px; text-align: center; }
.card-footer input[type=submit]{background: rgb(200, 200, 200); border: none; border-bottom: 1px solid gray; }
.card-body input[type=text]{width: 240px; border: none; border-bottom: 1px solid gray; 
    margin-bottom: 10px; padding: 5px;}
